{% extends 'base.html' %}
{% block title %}Setlist Manager: Update Song {{song.title}}{% endblock title %}
{% block content %}
<h1 class="mt-3 mb-1">Update Song:</h1>
<h3 class="my-2">{{song.title}} by {{song.artist}}</h3>
<p class="alert alert-success">Note: The Fetch Lyrics button uses the song's saved title and artist. 
    For best results please ensure that your song's title and artist are saved with correct spelling 
    (and punctuation, if applicable) before using Fetch Lyrics.
</p>
<a href="/songs/{{song.id}}/fetch-lyrics" class="btn btn-info mb-3">Fetch Lyrics using APISEEDS Lyrics API</a>
<form action="/songs/{{song.id}}/update" method="post">
    {% include '_form.html' %}
</form>
<a href="/songs/{{song.id}}" class="btn btn-outline-primary btn-block mb-3">Back</a>
{% endblock content %}